jpk_gv-1.xsd.xml

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:etd="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2021/06/08/eD/DefinicjeTypy/" xmlns:tns="http://crd.gov.pl/wzor/2023/06/12/12589/" targetNamespace="http://crd.gov.pl/wzor/2023/06/12/12589/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="pl">
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2021/06/08/eD/DefinicjeTypy/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2021/06/08/eD/DefinicjeTypy/StrukturyDanych_v8-0E.xsd"/>
	<xsd:simpleType name="TKodFormularza">
		<xsd:annotation>
			<xsd:documentation>Symbol wzoru formularza</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="JPK_GV"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TDataCzas">
		<xsd:restriction base="etd:TDataCzas">
			<xsd:minInclusive value="2023-07-01T00:00:00Z"/>
			<xsd:maxInclusive value="2050-12-31T23:59:59Z"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TData">
		<xsd:annotation>
			<xsd:documentation>Data okresu i transakcji</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="etd:TData">
			<xsd:minInclusive value="2023-01-01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TCelZlozenia">
		<xsd:annotation>
			<xsd:documentation>Określa, czy to jest złożenie, czy korekta ewidencji</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>złożenie po raz pierwszy ewidencji za dany okres</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>korekta ewidencji za dany okres</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TNaglowek">
		<xsd:annotation>
			<xsd:documentation>Nagłówek JPK_GV</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="KodFormularza">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="tns:TKodFormularza">
							<xsd:attribute name="kodSystemowy" type="xsd:string" use="required" fixed="JPK_GV (1)"/>
							<xsd:attribute name="wersjaSchemy" type="xsd:string" use="required" fixed="1-1E"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="WariantFormularza">
				<xsd:simpleType>
					<xsd:restriction base="xsd:byte">
						<xsd:enumeration value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DataWytworzeniaJPK" type="tns:TDataCzas">
				<xsd:annotation>
					<xsd:documentation>Data i czas sporządzenia JPK_GV</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NazwaSystemu" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nazwa systemu, z którego pochodzą dane</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="240"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CelZlozenia">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="tns:TCelZlozenia"/>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="KodUrzedu" type="etd:TKodUS"/>
			<xsd:element name="Rok">
				<xsd:simpleType>
					<xsd:restriction base="etd:TRok">
						<xsd:minInclusive value="2023"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Miesiac" type="etd:TMiesiac"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TKwotowy">
		<xsd:annotation>
			<xsd:documentation>Wartość numeryczna 18 znaków max, w tym 2 znaki po przecinku</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="18"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TNaturalnyJPK">
		<xsd:annotation>
			<xsd:documentation>Liczby naturalne większe od zera</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="etd:TNaturalny">
			<xsd:minExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TZnakowyJPK">
		<xsd:annotation>
			<xsd:documentation>Typ znakowy ograniczony do 256 znaków</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TAdresEmail">
		<xsd:annotation>
			<xsd:documentation>Adres poczty elektronicznej</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="255"/>
			<xsd:pattern value="(.)+@(.)+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TIlosci">
		<xsd:annotation>
			<xsd:documentation>Wykorzystywany do określenia ilości. Wartość numeryczna 22 znaki max, w tym 6 po przecinku.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="22"/>
			<xsd:fractionDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TIdentyfikatorOsobyNiefizycznej">
		<xsd:annotation>
			<xsd:documentation>Podstawowy zestaw danych identyfikacyjnych o osobie niefizycznej</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NIP" type="etd:TNrNIP">
				<xsd:annotation>
					<xsd:documentation>Identyfikator podatkowy NIP</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PelnaNazwa">
				<xsd:annotation>
					<xsd:documentation>Pełna nazwa</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="240"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TPodmiotDowolnyBezAdresu">
		<xsd:annotation>
			<xsd:documentation>Skrócony zestaw danych o osobie fizycznej lub niefizycznej z identyfikatorem NIP</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="OsobaFizyczna">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="etd:TIdentyfikatorOsobyFizycznej2">
							<xsd:sequence>
								<xsd:element name="Email" type="tns:TAdresEmail"/>
								<xsd:element name="Telefon" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Numer telefonu kontaktowego</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TZnakowy">
											<xsd:maxLength value="16"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OsobaNiefizyczna">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:TIdentyfikatorOsobyNiefizycznej">
							<xsd:sequence>
								<xsd:element name="Email" type="tns:TAdresEmail"/>
								<xsd:element name="Telefon" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Numer telefonu kontaktowego</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TZnakowy">
											<xsd:maxLength value="16"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="JPK">
		<xsd:annotation>
			<xsd:documentation>Ewidencja wewnętrzna członków grupy VAT</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Naglowek" type="tns:TNaglowek">
					<xsd:annotation>
						<xsd:documentation>Nagłówek JPK_GV</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Podmiot1">
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="tns:TPodmiotDowolnyBezAdresu">
								<xsd:attribute name="rola" type="xsd:string" use="required" fixed="Członek grupy VAT"/>
							</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Informacja" type="etd:TTekstowy" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Informacje o dokonanych zmianach i ich przyczynie - pole do uzupełnienia w przypadku składania korekty</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Ewidencja">
					<xsd:annotation>
						<xsd:documentation>Ewidencja</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Dokumenty" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LpEwidencji" type="tns:TNaturalnyJPK">
											<xsd:annotation>
												<xsd:documentation>Lp. wiersza ewidencji</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="NrKontrahenta" type="etd:TNrNIP">
											<xsd:annotation>
												<xsd:documentation>Numer identyfikacji podatkowej członka grupy VAT, na rzecz którego dokonano czynności</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="NazwaKontrahenta" type="tns:TZnakowyJPK">
											<xsd:annotation>
												<xsd:documentation>Imię i nazwisko lub nazwa członka grupy VAT, na rzecz którego dokonano czynności</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="NrDokumentu" type="tns:TZnakowyJPK">
											<xsd:annotation>
												<xsd:documentation>Numer dokumentu</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="DataWystawienia" type="tns:TData">
											<xsd:annotation>
												<xsd:documentation>Data wystawienia dokumentu</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="DataSprzedazy" type="tns:TData">
											<xsd:annotation>
												<xsd:documentation>Data dokonania lub zakończenia dostawy towarów lub wykonania usługi</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="KwotaNaleznosciOgolem" type="tns:TKwotowy">
											<xsd:annotation>
												<xsd:documentation>Kwota należności wynikająca z dokumentu</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="DokumentWiersz" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="LpWiersza" type="tns:TNaturalnyJPK">
														<xsd:annotation>
															<xsd:documentation>Lp. wiersza dokumentu</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:choice>
														<xsd:element name="Towar" type="tns:TZnakowyJPK">
															<xsd:annotation>
																<xsd:documentation>Nazwa towaru</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
														<xsd:element name="Usluga" type="tns:TZnakowyJPK">
															<xsd:annotation>
																<xsd:documentation>Nazwa usługi</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
													</xsd:choice>
													<xsd:element name="Ilosc" type="tns:TIlosci">
														<xsd:annotation>
															<xsd:documentation>Ilość (liczba) dostarczonych towarów lub zakres wykonanych usług</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Miara" type="tns:TZnakowyJPK">
														<xsd:annotation>
															<xsd:documentation>Miara dostarczonych towarów lub zakres wykonanych usług</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="CenaJednostkowa" type="tns:TKwotowy">
														<xsd:annotation>
															<xsd:documentation>Cena jednostkowa towaru lub usługi</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="KwotaNaleznosci" type="tns:TKwotowy">
														<xsd:annotation>
															<xsd:documentation>Kwota należności za dostarczone towary lub wykonane usługi, objęte transakcją</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SprzedazCtrl">
								<xsd:annotation>
									<xsd:documentation>Sumy kontrolne dla ewidencji wewnetrznej czlonkow grupy VAT</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LiczbaDokumentow" type="etd:TNaturalny">
											<xsd:annotation>
												<xsd:documentation>Liczba wprowadzonych do ewidencji dokumentów. Jeżeli w ewidencji nie wypełniono żadnego ze wskazanych elementów, wówczas należy wykazać 0</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="KwotaNaleznosciSuma" type="tns:TKwotowy">
											<xsd:annotation>
												<xsd:documentation>Suma kwot należności za dokonane dostawy lub wykonane uslugi. Jeżeli w ewidencji nie wypełniono żadnego ze wskazanych elementów, wówczas należy wykazać 0.00</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>